<footer class="pb-40 mt-76">
  {{ partial:layout/container/inner class="flex flex-col md:grid md:grid-cols-2 gap-y-15 md:gap-y-0" }}
    <span>
      <strong>Formaform AG</strong>
    </span>
    <span>
      <a 
        href="tel:+41554401265"
        aria-label="Rufen Sie uns an"
        class="block md:inline hover:text-olverra transition-colors md:after:content-[','] hover:after:text-black">+41 55 440 12 65</a>
      <a 
        href="mailto:kontakt@formaform.ch"
        aria-label="Senden Sie uns eine E-Mail"
        class="block md:inline hover:text-olverra transition-colors">kontakt@formaform.ch</a>
    </span>
  {{ /partial:layout/container/inner }}
</footer>
{{ vite src="resources/js/app.js" }}
