@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { 
  @apply !hidden;
}

:root {
  /*--header-height-sm: 2.875rem; /* 46 px */
  --header-height-sm: 3.75rem; /* 60 px */
  --header-height-lg: 5.5rem; /* 88 px */
  --max-width-container: 105rem; /* 1680 px */
  --max-width-content: 75rem; /* 922 px */ 
}

main {
  @apply flex-1;
}

p:not(:last-child),
ul:not(:last-child) {
  @apply mb-22 lg:mb-28
}

p:has(+ ul) {
  @apply !mb-0
}

ul {
}

strong {
  @apply font-spezia-medium font-medium;
}

.product p:not(:last-child) {
  @apply mb-15
}

.product p:has(+ ul) {
  @apply !mb-0
}

.product ul {
  @apply list-none
}

.product ul li {
  @apply pl-30 relative
}

.product ul li::before {
  @apply content-['—'] absolute left-0 top-0
}

.product ul li p {
  @apply inline;
}