{{ prev_product :id="id" }}
  {{ if url }}
    <a
      href="{{ url }}"
      class="fixed top-1/2 -translate-y-1/2 left-20 lg:left-22 xl:left-[calc(((100%_-_var(--max-width-container))_/_2)_+_64px)] w-14 h-24"
      aria-label="Vorheriges Produkt {{ title }}">
      {{ partial:icons/prev class="w-full h-auto" }}
    </a>
  {{ /if }}
{{ /prev_product }}

{{ next_product :id="id" }}
  {{ if url }}
    <a
      href="{{ url }}"
      class="fixed top-1/2 -translate-y-1/2 right-20 lg:right-22 xl:right-[calc(((100%_-_var(--max-width-container))_/_2)_+_64px)] w-14 h-24"
      aria-label="Nächstes Produkt {{ title }}">
      {{ partial:icons/next class="w-full h-auto" }}
    </a>
  {{ /if }}
{{ /next_product }}