<div
  class="
    bg-white
    fixed
    top-[var(--header-height-sm)]
    lg:top-[var(--header-height-lg)]
    left-0
    xl:left-[calc(((100vw_-_77.25rem)_/_2)_-_6px)]
    z-20
    px-20
    lg:px-22
    pt-16
    lg:pt-0
    w-full
    lg:max-w-[336px]
    min-h-[calc(100dvh_-_var(--header-height-sm))]
    lg:min-h-[calc(100dvh_-_var(--header-height-lg))]"
  x-cloak
  x-show="menu"
  x-transition:enter="transition ease-out duration-100"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0">
  <nav class="relative lg:-top-2">
    <ul class="flex flex-col gap-y-20 lg:gap-y-18">
      {{ nav:main }}
        {{ partial:menu/main/item }}
      {{ /nav:main }}
    </ul>
  </nav>
</div>
